<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    
</head>

<body>
    <!--Begin navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h1>Productivity Planner</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/planner">Day Planner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/goals">Goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--End navbar-->
<br><br><br>

    <h2 class="m-4 text-center">Goals</h2>

<!--Begin goals container-->
    <div class="container">
        <section>
            <div class="row">
        <!--Begin the add goal input box-->
                    <div class="col-md-12 shadow p-3 m-3 rounded">
                        <h3 class="mb-3">Add a Goal:</h3>
                        <input type="title" class="form-control" placeholder="Add goal here" id="goal-input" placeholder="Title">
                        <button type="button" class="btn btn-dark mt-3">Submit</button>
                        </div>
                    </div>
                </div>
        </section>
    <!--Begin first column: my goals-->
        <div class="row">
            <div class="col shadow p-3 m-3 rounded">
                <h3 class="m-3">My Goals</h3><br>
                    <div class="shadow p-3 m-3 rounded">
                        <h4>Make a new blog post.</h4>
                        <p><button type="button" class="btn btn-dark edit-btn">Edit</button>
                        <button type="button" class="btn btn-dark delete-btn">Delete</button>
                    </p></div>
                    <div class="shadow p-3 m-3 rounded">
                        <h4>Wash dishes.</h4>
                        <p><button type="button" class="btn btn-dark edit-btn">Edit</button>
                            <button type="button" class="btn btn-dark delete-btn">Delete</button>
                        </p></div>
            </div>
    <!--End first column: my goals-->
    <!--Begin second column: goals progress-->
            <div class="col shadow p-3 m-3 rounded">
                    <h3 class="m-3">Goals Progress</h3><br>
                        <div class="shadow p-3 m-3 rounded">
                            <h4>Make a new blog post.</h4>
                            <p><button type="button" class="btn btn-dark edit-btn">Edit</button>
                                <button type="button" class="btn btn-dark delete-btn">Delete</button>
                            </p></div>
                        <div class="shadow p-3 m-3 rounded">
                            <h4>Make a new blog post.</h4>
                            <p><button type="button" class="btn btn-dark edit-btn">Edit</button>
                                <button type="button" class="btn btn-dark delete-btn">Delete</button>
                            </p></div>
            </div>
    <!--End second column: goals progress-->
    
    <!--Begin third column: achievements-->
            <div class="col shadow p-3 m-3 rounded">
                <h3 class="m-3">Achievements</h3><br>
                    <div class="shadow p-3 m-3 rounded">
                        <h4>Knit sweater.</h4>
                        <p><button type="button" class="btn btn-dark edit-btn">Edit</button>
                            <button type="button" class="btn btn-dark delete-btn">Delete</button>
                        </p></div>
                </div>
            <!--End of third column: achievements-->
        </div>
    <!--End of row-->
    </div>
<!--End of container-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>