  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid dash-nav">
      <a class="navbar-brand" href="#">
        <h2 id="planner-logo">Productivity <span>Planner</span></h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!--End of navbar-->
  <br>
  <!--Login top half of page-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-5">
        <a class="sign-up-link text-center header-color" href="#">
          <h2>Login Form</h2>
        </a>
      </div>
    </div>
    <div class="row shadow p-3 m-3 rounded list-border">
      <div class="col-3"></div>
      <div class="col-6">
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control shadow p-3 m-3 bg-white rounded" id="email-input" placeholder="Email">
          </div>
          <div class="form-group mt-4">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control shadow p-3 m-3 bg-white rounded" id="password-input" placeholder="Password">
          </div>
          <div class="row">
            <div class="col-12 text-center clearfix">
              <button type="submit" class="btn btn-dark active float-right" id="login-btn">Login</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-3"></div>
    </div>
    <br />
    <div class="row mt-3">
      <div class="col-12">
        <p class="text-center">Or sign up <a href="/">here</a></p>
      </div>
    </div>
  </div>
    <!--End of container-->
</section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
