body{
    background-image:url("https://marbleunlimitedinc.com/img/blog/background.jpg");
}

.navbar-light .navbar-brand {
    font-family: 'BioRhyme', serif;
    color: black;
    border-bottom: 2px solid black;
    
}

.navbar-light .navbar-nav .nav-link, p,
label, button {
    font-family: 'Space Mono', monospace; 
    color: black;
}

.col-container{
    margin: 20px;
}
/* section{
    margin: 10px;
    
} */


.schedule-col{
    height:600px;
}

.date-row{
 height:80px;
}

.goals-row{
    height:350px;
}
.water-row{
    height:150px;
}

.notes-row{
    height:400px;
}
.timer-row{
    height:290px;
}

h1{
    font-family: 'BioRhyme', serif;
    
}

h1:after{
    content:' ';
    display:block;
    border:2px solid black;
}


p {
    text-indent: 2.0em;
}

.schedule-container{
   display: flex;
}

.view-modal{
    display:inline;  
}
.modal-btn{
    background-color: white;
    margin: 10px;
   display: flex;
   border-color: black;
}

.modal-close-btn{
border-color: black;
}





