form.signup,
form.login {
  margin-top: 50px;
}

.weekView {
  height: 200px;
  background-color: white;
}

.card {
  margin: 20px;
  height: 500px;
  padding: 5px
}

.sign-up-link {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(242, 242, 154);
}

.blog-posts,
.feed-posts {
  background-color: white;
}



.community-container,
section {
  background-color: rgb(145, 242, 145);
}